<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<!-- use a formGroup Property binding to bind checkoutForm in the ts file -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <!--  formControlName attribute that binds to the checkoutForm form controls for name and address to their <input> fields. -->
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
